
h1,h2,h3 {
  text-align: center;
}
p {
    text-indent: 25px; 
}
table p {
    text-indent: 0; 
}
img {
  max-height: 100%;
  max-width: 100%;
}
p img {
  margin-left: -25px; 
}
table p img {
  margin-left: 0; 
}
.related-topics {
    padding-top: 5px;
}
.related-topics p {
    display: list-item;
    margin: 0px 0px 0px 25px;
}

[data-c1-role="c1epub-Title"] {
    padding-top: 1.5em;
    padding-bottom: 2em;
    text-align: center;
}
[data-c1-role="c1epub-Author"] {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
[data-c1-role="c1epub-Publisher"] {
    font-size: 1.3em;
    text-align: center;
}

[data-c1-role="c1epub-Cover"] {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

