/* Global styles */
body {
    /*font-family: Georgia, Times, "Times New Roman";*/
    /*font-size: 10pt;*/
}

/* Links styles */
a {
    color: black;
    text-decoration: none;
}
a[href] {
    color: #1B75BB;
    text-decoration: none;
}
a[href]:hover {
    text-decoration: underline;
}
