.CopyCodeWrapper
{
    position: relative;
    text-align:right;
    padding-top:3px;
    padding-right:10px;
    background-color:#e5e5e5;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height:20px;
}
span.CopyCode
{
    cursor: pointer;
    padding-left: 18px;
    background-image: url('../../Images/copycode.png');
    background-repeat: no-repeat;
    background-position-y: 1px;
}
pre.prettyprint {
  margin: 0;
}
