@font-face {
	font-family: 'note';
	src:url('Images/note.eot');
	src:url('Images/note.eot?#iefix') format('embedded-opentype'),
		url('Images/note.woff') format('woff'),
		url('Images/note.ttf') format('truetype'),
		url('Images/note.svg#note') format('svg');
	font-weight: normal;
	font-style: normal;
}

.c1-icon-warning, .c1-icon-tip, .c1-icon-note {
	font-family: 'note';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.c1-icon-warning:before {
	content: "\e000";
}

.c1-icon-tip:before {
	content: "\e001";
}

.c1-icon-note:before {
	content: "\e002";
}

.c1-widg-note 
{
    display: table; 
    border-style: solid; 
    border-width: 1px;
    font-weight: normal;
}

.c1-widg-note-error, #D2HTopicOuterBody .ui-state-error
{
    border-color: #cd0a0a;
    background-color: #fef1ec;
    color: #cd0a0a;
} 


.c1-widg-note-highlight, #D2HTopicOuterBody .ui-state-highlight
{
    border-color: #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
} 

.c1-widg-note .c1-note-icon 
{
    display: table-cell; 
    vertical-align: middle; 
    position: static; 
    top: 50%;
    font-size: 2em;
}

.c1-widg-note .c1-note-text
{
    display: table-cell; 
    vertical-align: middle; 
    position: static; 
    top: 50%;
    width: 100%;
}

.c1-widg-note .c1-note-inner 
{
    margin: 0.33em; 
    position: relative; 
    top: -50%
}

.c1-widg-note .c1-note-icon img
{
    max-width: none;
}

.c1-widg-note-table
{
    border-style: none; 
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%
}

.c1-widg-note-table .c1-note-icon
{
    vertical-align: middle; 
    border-left: 1px solid; 
    border-right: none; 
    border-top: 1px solid; 
    border-bottom: 1px solid;
}

.c1-widg-note-table .c1-note-icon-error
{
    vertical-align: middle; 
    border-left: 1px solid #cd0a0a; 
    border-right: none; 
    border-top: 1px solid #cd0a0a; 
    border-bottom: 1px solid #cd0a0a;
    background-color: #fef1ec;
    color: #cd0a0a;
width: 50px;
}

.c1-widg-note-table .c1-note-icon-highlight
{
    vertical-align: middle; 
    border-left: 1px solid #fcefa1; 
    border-right: none; 
    border-top: 1px solid #fcefa1; 
    border-bottom: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
}

.c1-widg-note-table .c1-note-text
{
    vertical-align: middle; 
    border-left: none; 
    border-right: 1px solid; 
    border-top: 1px solid; 
    border-bottom: 1px solid;
    width: 100%;
}

.c1-widg-note-table .c1-note-text-error
{
    vertical-align: middle; 
    border-left: none; 
    border-right: 1px solid #cd0a0a; 
    border-top: 1px solid #cd0a0a; 
    border-bottom: 1px solid #cd0a0a;
    background-color: #fef1ec;
    color: #cd0a0a;
    width: 100%;
}

.c1-widg-note-table .c1-note-text-highlight
{
    vertical-align: middle; 
    border-left: none; 
    border-right: 1px solid #fcefa1; 
    border-top: 1px solid #fcefa1; 
    border-bottom: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
    width: 100%;
}

.c1-widg-note-table .c1-note-inner 
{
    margin: 0.33em; 
}

.c1-widg-note-epub
{
    border-style: none; 
    width: 100%;
    table-layout: fixed;
}

.c1-widg-note-epub .c1-note-icon
{
    vertical-align: middle; 
    border-left: 1px solid; 
    border-right: none; 
    border-top: 1px solid; 
    border-bottom: 1px solid;
    width: 10%;
}

.c1-widg-note-epub .c1-note-icon-error
{
    vertical-align: middle; 
    border-left: 1px solid #cd0a0a; 
    border-right: 1px solid #fef1ec; 
    border-top: 1px solid #cd0a0a; 
    border-bottom: 1px solid #cd0a0a;
    background-color: #fef1ec;
    color: #cd0a0a;
    width: 10%;
}

.c1-widg-note-epub .c1-note-icon-highlight
{
    vertical-align: middle; 
    border-left: 1px solid #fcefa1; 
    border-right: 1px solid #fbf9ee; 
    border-top: 1px solid #fcefa1; 
    border-bottom: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
    width: 10%;
}

.c1-widg-note-epub .c1-note-text
{
    vertical-align: middle; 
    border-left: none; 
    border-right: 1px solid; 
    border-top: 1px solid; 
    border-bottom: 1px solid;
    width: 90%;
}

.c1-widg-note-epub .c1-note-text-error
{
    vertical-align: middle; 
    border-left: 1px solid #fef1ec; 
    border-right: 1px solid #cd0a0a; 
    border-top: 1px solid #cd0a0a; 
    border-bottom: 1px solid #cd0a0a;
    background-color: #fef1ec;
    color: #cd0a0a;
    width: 90%;
}

.c1-widg-note-epub .c1-note-text-highlight
{
    vertical-align: middle; 
    border-left: 1px solid #fbf9ee; 
    border-right: 1px solid #fcefa1; 
    border-top: 1px solid #fcefa1; 
    border-bottom: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
    width: 90%;
}

.c1-widg-note-epub .c1-note-inner 
{
    margin: 0.33em; 
}

.c1-widg-note-epub .c1-note-icon img
{
    width: 30px;
    height: 30px;
}