/* Global styles */
body {
    /*font-family: Georgia, Times, "Times New Roman";*/
    /*font-size: 10pt;*/
}

/* Links styles */
#c1topicPanel a[href],
#c1topicPanel a[data-ref],
.topic-popup a[href],
.topic-popup a[data-ref],
.aklinks-menu a {
    color: #1B75BB;
    text-decoration: none;
}
#c1topicPanel a[href]:hover,
#c1topicPanel a[data-ref]:hover,
.topic-popup a[href]:hover,
.topic-popup a[data-ref]:hover,
.aklinks-menu a:hover {
    text-decoration: underline;
}
