﻿/* common styles */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
    line-height: normal;
}
a img {
    border: 0 none;
}
a[href],
a[data-ref] {
    cursor: pointer;
    text-decoration: none;
}
a[href]:hover,
a[data-ref]:hover {
    text-decoration: underline;
}

.flat {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

/* jQuery UI fix */
.ui-widget {
    font-size: 1em;
}
.ui-icon-empty {
    background-position: 16px 16px;
}
[dir="rtl"] .ui-tabs .ui-tabs-nav li,
[dir="rtl"] .ui-tabs .ui-tabs-nav li a {
    float: right;
}
.c1-topic a[name] {
    color: inherit;
}

#c1sideTabs {
    /* show it after loading of data */
    display: none;
}

/* frame */
#c1topic .c1-topic-frame {
    position: absolute;
    top: 2px;
    bottom: 3px;
    left: 2px;
    right: 2px;
}

@media screen {

    /* common styles */
    body .abs {
        position: absolute;
    }
    body .fill-h {
        left: 0;
        right: 0;
    }
    body .fill-v {
        top: 0;
        bottom: 0;
    }
    body .rel {
        position: relative;
    }
    body .crop {
        overflow: hidden;
    }
    body .scroll {
        overflow: auto;
    }

    /* pageHeader */
    #c1header {
        height: 100px;
    }
    #c1headerPanel {
        border-spacing: 0;
        border-collapse: collapse;
    }    
    #c1headerTextCell {
        padding: 0;
    }
    #c1headerPanel,
    #c1headerPanel tr,
    #c1headerPanel td,
    #c1headerPanel img {
        border: 0 none;
    }
    #c1headerPanel {
        height: 100%;
        vertical-align: middle;
    }
    #c1headerLogoCell {
        padding: 0 20px 0 5px;
    }
    [dir="rtl"] #c1headerLogoCell {
        padding: 0 5px 0 20px;
    }

    /* main block */
    #c1main {
        top: 102px;
        bottom: 0;
    }
    /* side block */
    #c1side {
        left: 0px;
        width: 300px;
    }
    [dir="rtl"] #c1side {
        right: 0px;
        left: auto;
    }
    #c1splitter {
        left: 300px;
    }
    [dir="rtl"] #c1splitter {
        left: auto;
        right: 300px;
    }
    #c1side .c1-widget a[href] {
        text-decoration: none;
    }
    #c1side .c1-widget a[href]:hover {
        text-decoration: underline;
    }
    #c1side .ui-tabs-panel {
        margin: 0;
        padding: 0;
        /* fix for IE9 */
        border-radius: 0;
    }
    #c1sideTabs {
        font-size: .9em;
    }
    #c1sideInner,
    #c1contentInner {
        position: absolute;
        top: .2em;
        right: .2em;
        bottom: .2em;
        left: .2em;
    }
    #c1sideTabsPanel {
        top: 3.2em;
        right: .2em;
        bottom: .2em;
        left: .2em;
    }
    #c1indexFilterPanel,
    #c1searchFilterPanel {
        padding: 3px 7px 3px 3px;
        overflow: visible;
        z-index: 1;
        border: 0 none;
        background: transparent none;
    }
    [dir="rtl"] #c1indexFilterPanel,
    [dir="rtl"] #c1searchFilterPanel {
        padding: 3px 3px 3px 7px;
    }
    #c1indexFilterBlock,
    #c1searchFilterBlock {
        overflow: visible;
        border: 0 none;
        background: transparent none;
    }
    #c1searchFilterBlock {
        margin-right: 28px;
    }
    [dir="rtl"] #c1searchFilterBlock {
        margin-right: auto;
        margin-left: 28px;
    }
    #c1indexFilter,
    #c1searchFilter {
        width: 100%;
        padding: 2px 1px;
        margin: 0;
    }
    #c1searchButtonGo,
    #c1searchButtonHelp,
    #c1searchButtonHighlight {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        cursor: pointer;
    }
    #c1searchButtonHighlight {
        right: 0px;
    }
    [dir="rtl"] #c1searchButtonHighlight {
        right: auto;
        left: 0px;
    }
    #c1searchButtonGo {
        right: 16px;
    }
    [dir="rtl"] #c1searchButtonGo {
        right: auto;
        left: 16px;
    }
    #c1searchButtonHelp {
        right: 32px;
    }
    [dir="rtl"] #c1searchButtonHelp {
        right: auto;
        left: 32px;
    }
    #c1index,
    #c1search {
        top: 2.7em;
        bottom: 0;
        z-index: 0;
    }
    .c1-index-selected,
    .c1-search-selected {
        font-weight: bold;
    }

    #c1content {
        right: 0;
        left: 305px;
        overflow: auto;
    }
    [dir="rtl"] #c1content {
        right: 305px;
        left: 0;
    }
    #c1topBar {
        top: 0;
        font-size: .8em;
        padding: .2em;
        height: 2.6em;
        overflow: hidden;
        text-align: right;
    }
    [dir="rtl"] #c1topBar {
        text-align: left;
    }
    #c1topicPanel {
        top: 2.7em;
        bottom: 0;
    }
    #c1topicSpinner {
        z-index: 700;
    }
    #c1topicSpinnerMessage {
        top: 50%;
        left: 50%;
    }
    #c1topic {
        clear: both;
    }

    #c1breadcrumbs {
        font-size: .8em;
        margin: 0;
        padding: 2px 0;
        border-bottom: 1px solid;
        background: transparent none;
    }

    /* topic only mode */
    .topic-only .abs {
        position: static;
    }
    .topic-only #c1topicPanelInner {
        position: absolute;
    }    
    .topic-only #c1topicPanel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    .topic-only #c1header,
    .topic-only #c1topBar,
    .topic-only #c1topicBar,
    .topic-only #c1side,
    .topic-only #c1splitter,
    .topic-only #c1topicSpinner {
        display: none;
    }

} /* @media screen */

@media print {

    html body {
        background-color: white;
	    background-image: none;
	    color: black;
    }
    #c1topicPanel {
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        min-height: 80%;
        background-color: white;
        background-image: none;
        color: black;
    }
    #c1topic a {
        color: black;
        text-decoration: none;
    }
    #c1content,
    #c1topicPanel {
        border: none;
    }
    #c1header,
    #c1topBar,
    #c1statusBar,
    #c1topicBar,
    #c1side,
    #c1splitter,
    #c1topicSpinner {
        display: none;
	    position: absolute;
	    width: 0;
	    left: -9999px;
    }

} /* @media print */
