    .c1-widg-wijcarousel, .c1-widg-wijcarousel-inner
    {
        width: 100%;
        height: 100%;
    } 
    .c1-widg-wijcarousel ul
    {
        margin-left:0px;
        padding:0px;
    } 
    .wijmo-wijpager-button
    {
        font-family: Verdana;
        font-size:10pt;
    }